<div class="row">
  <div class="columns small-12">

    <div class="row">
      <h1 class="page-heading">User Dashboard</h1>
    </div>

    <div class="row dashboard-block-wrap">
      <!-- USER METRIC -->
      <div id="user-metric" class="columns metric small-12">
        <h4>User Metric</h4>
        <ul class="metric-grid">
          <li class="columns metric-item-wrap">
            <div class="metric-item">
              <h5>Metric Title</h5>
              <div class="metric-count">
                <img src="">
                <span>0</span>
              </div>
            </div>
          </li>
          <li class="columns metric-item-wrap">
            <div class="metric-item">
              <h5>Metric Title</h5>
              <div class="metric-count">
                <img src="">
                <span>0</span>
              </div>
            </div>
          </li>
          <li class="columns metric-item-wrap">
            <div class="metric-item">
              <h5>Metric Title</h5>
              <div class="metric-count">
                <img src="">
                <span>0</span>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <!-- USER METRIC END -->

      <!-- SITE METRIC -->
      <div id="site-metric" class="columns metric small-12">
        <h4>Site Metric</h4>
        <ul class="metric-grid">
          <li class="columns metric-item-wrap">
            <div class="metric-item">
              <h5>Metric Title</h5>
              <div class="metric-count">
                <img src="">
                <span>0</span>
              </div>
            </div>
          </li>
          <li class="columns metric-item-wrap">
            <div class="metric-item">
              <h5>Metric Title</h5>
              <div class="metric-count">
                <img src="">
                <span>0</span>
              </div>
            </div>
          </li>
          <li class="columns metric-item-wrap">
            <div class="metric-item">
              <h5>Metric Title</h5>
              <div class="metric-count">
                <img src="">
                <span>0</span>
              </div>
            </div>
          </li>
          <li class="columns metric-item-wrap">
            <div class="metric-item">
              <h5>Metric Title</h5>
              <div class="metric-count">
                <img src="">
                <span>0</span>
              </div>
            </div>
          </li>
          <li class="columns metric-item-wrap">
            <div class="metric-item">
              <h5>Metric Title</h5>
              <div class="metric-count">
                <img src="">
                <span>0</span>
              </div>
            </div>
          </li>
          <li class="columns metric-item-wrap">
            <div class="metric-item">
              <h5>Metric Title</h5>
              <div class="metric-count">
                <img src="">
                <span>0</span>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <!-- SITE METRIC END -->
    </div>


    <div class="row dashboard-block-wrap">
      <div class="columns small-8">
        <h4>Latest Post</h4>
      </div>
    </div>
  </div>
</div>
