<div id="post-editor" class="row">
  <div class="coloumns">
    <post-editor target="/posts/create" token="<%= form_authenticity_token %>" xtoken="<%= session[:_csrf_token] %>"></post-editor>
  </div>
</div>
