<div id="header-heroes">
  <div class="row">
    <div class="columns medium-12">
      <div id="heroes-caption">
	<h3>Hello!</h3>
	<h3>I'm A Web And</h3>
        <h3>Game Developer.</h3>
      </div>
    </div>
  </div>  
</div>

<div id="about">
  <div class="row align-stretch">
    <div class="columns small-12">
      <div id="bi-profile" class="row align-stretch">
	<div class="columns small-12">
	  <h2>A Brief Introduction</h2>
	</div>
	<div class="columns small-12 medium-6">
	  <div id="bi-profile-pic-container">
	    <div id="bi-profile-pic" style="background-image: url(<%= image_url("bi_profile.jpg") %>)">
	    </div>
	  </div>
	</div>
	<div class="columns small-12 medium-6">
	  <div id="bi-profile-desc-container">
	    <div id="bi-profile-desc">
	      <p>Hello! :)</p>
	      <p>My Name is Rizkie Yudha Pratama, I'am Otaku who love Japanese Pop-Culture that also love to Build and create something random on his spare time.</p>
	      <p>Have been working with C/C++, Ruby, and Javascript most of the times, but i also encouraged to try and learn new things.</p>
	    </div>
	  </div>
	</div>
      </div>
    </div>

    <div class="columns small-12">
      <div id="showcase-container">
        <!-- SHOWCASE START -->
        <div id="showcase">
          <div class="row align-stretch">
	    <h2 id="showcase-heading" class="columns small-12">Recent Projects</h2>

            <div class="columns small-12 medium-6 logo-cover">
	       <img id="ico-alterpass" src="<%= image_url("logo_alterpass.png") %>">
            </div>
            <div class="columns small-12 medium-6">
              <div class="porto-desc-block">
                  <h6>Android App</h6>
                  <h5>AlterPass Password Manager</h5>
                  <p>Plain simple password manager for android device. Keep them safe in an encrypted database with easy way to back them up to your favorite cloud storage.</p>

                  <div id="alterpass-download">
                    <small><span>(TBA Version 0.0.0-alpha-devel)</span></small>
                  </div>
              </div>
            </div>
          </div>

          <div class="row align-stretch reverse">
            <div class="columns small-12 medium-6 logo-cover">
	       <img id="ico-byf">
            </div>
            <div class="columns small-12 medium-6">
              <div class="porto-desc-block">
                  <h6>Mobile Games</h6>
                  <h5>Backyard Fortress</h5>
                  <p>Build your fortress in your backyard, survive the appocalypse as long as possible. Find for supplies and Gatther survivor for your backyard fortress.</p>

                  <div id="alterpass-download">
                    <small><span>(Not Yet Available, WIP)</span></small>
                  </div>
              </div>
            </div>
	  </div>

          <div class="row align-stretch">
            <div class="columns small-12 medium-6 logo-cover">
	       <img id="ico-nessaweb" src="<%= image_url("nessaweb.png") %>">
            </div>
            <div class="columns small-12 medium-6">
              <div class="porto-desc-block">
                  <h6>Website</h6>
                  <h5>Nessarose Cosplay</h5>
                  <p>A Personal site for Nessarose Cosplay intended for her work portofolio and merchandise store.</p>

                  <div id="nessarose-site">
                    <small><a href="#">https://nessarose-cosplay.com/</a> <span>(Work in Progress)</span></small>
                  </div>
              </div>
            </div>
	    <div id="showcase-footer" class="columns small-12"></div>
	  </div>
	</div>
        <!-- SHOWCASE END -->
      </div>
    </div>
  </div>

  <div class="row">
    <div class="columns small-12">
      <div id="single-social-connect">
	<h3>Get in Touch</h3>
	<ul id="social-media-list">
	  <li><a href="https://twitter.com/VikTymZ"><i class="fab fa-twitter"></i></a></li>
	  <li><a href="https://instagram.com/VikTymZ"><i class="fab fa-instagram"></i></a></li>
	  <li><a href="https://t.me/VikTymZ"><i class="fab fa-telegram-plane"></i></a></li>
	  <li><a href="https://github.org/VikTymZ"><i class="fab fa-github-square"></i></a></li>
	</ul>
      </div>
    </div>
  </div>
</div>
