<div id="header-heroes">
  <div class="row">
    <div class="columns medium-12">
      <div id="heroes-caption">
	      <h3>Hello!</h3>
	      <h3>My name is Rizkie Pratama</h3>
        <h3>And I Make <span id="things-i-do"></span></h3>
      </div>
    </div>
  </div>  
</div>

<div id="about">
  <div class="row align-stretch">
    <div class="columns small-12">
      <div id="bi-profile" class="row align-stretch">
	<div class="columns small-12">
	  <h2>ABOUT ME</h2>
	</div>
	<div class="columns small-12 medium-6">
	  <div id="bi-profile-pic-container">
      <div id="bi-profile-pic">
        <img src="<%= image_url("bi_profile.jpg") %>">
        <span class="image-caption">Artwork by <a href="https://twitter.com/onnanokofish">ɪsʜɪᴅᴀᴜᴍɪ</a></span>
	    </div>
	  </div>
	</div>
	<div class="columns small-12 medium-6">
	  <div id="bi-profile-desc-container">
	    <div id="bi-profile-desc">
	      <p>Hello! :)</p>
        <p>I'm Rizkie Pratama, someone who love Japanese Pop-Culture that also like to Build and create something random on his spare time.</p>
        <p>Currently live in Jakarta and Have been working at <a href="https://vidio.com/">Vidio.com</a> as System Administrator since 2018.</p>
        <p>Love to work with C/C++, Ruby, Javascript and many other language and toolkit, Although i've built many cool stuff with it not every one of it have a chance to see the shade of light.</p></br>
        <p>On my free time, i just spend it to play Video Games, browsing artwork and cosplay photograph on the net or watching Anime for hours.</p>
        <p>So, Feel free to hit me up whenever you want to play Rainbow Six Siege, CS:GO or any other kind of video games together.</p>
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="columns small-12">
      <div id="single-social-connect">
	      <h3>Get in Touch</h3>
	      <ul id="social-media-list">
	        <li><a href="https://twitter.com/HibikiKz"><i class="fab fa-twitter"></i></a></li>
 	        <li><a href="https://instagram.com/rizkieyp"><i class="fab fa-instagram"></i></a></li>
          <li><a href="https://t.me/MayoSandwich"><i class="fab fa-telegram-plane"></i></a></li>
          <li><a href="https://github.com/RizkiePratama"><i class="fab fa-github-square"></i></a></li>
     	  </ul>
      </div>
    </div>
  </div>
</div>
