// You can use Sass (SCSS) here: http://sass-lang.com/

.ql-align-left {
  text-align: left;
}

.ql-align-right {
  text-align: right;
}

.ql-align-center {
  text-align: center;
}

.ql-align-justify {
  text-align: justify;
}

#blog-body {
  min-height: 95vh;
  padding-top: 95px;
  padding-bottom: 60px;

  .row {
    max-width: 1000px;
  }

  .post-feed {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.post-card.row {
  margin: 0px 0px;
  padding: 15px 0px;
  border-bottom: 1px solid #CCC;
}

.thumb-box ,
.preview-box {

  img {
    border-radius: 3px;
  }
}

.preview-box {
  .meta-info {
    margin: 0 auto 5px;
    line-height: 0.6em;

    .title {
      font-weight: bold;
      font-size: 1.3em;
      margin: 0;

      a {
	color: #252525;
      }
    }

    .meta-data {
    }
  }

  .content {
    color: #858585;
    font-size: 0.8em;
    text-align: justify;
  } 
}

#blog-footer {
  background-color: #252525;

  .foot-note {
    text-align: right;
    padding: 20px 0;
    color: #FAFAFA;
    font-size: 0.8em;
    text-transform: uppercase;
    a {
      color: #858585;
      font-weight: bold;
    }
  }
}

.post-single {
   .meta-container {
     max-width: 650px;
     margin: auto;

     .meta-tags {
       list-style: none;
       margin: 0;

       li {
         display: inline-block;
       }

       li a {
         padding: 2px 9px 4px 7px;
         font-size: 0.6em;
         border: 1px solid #F5F5F5;
         border-radius: 3px;
         color: #858585;
         background: #F5F5F5;
         transition: 0.5s;
       }

       li a:hover {
         background: #DFDFDF;
         transition: 0.5s;
       }
     }
   }

  .post-head {
    .title {
      margin: 0 0 20px;
      font-weight: bold;
      line-height: 1em;
    }
  }

  .post-head-heroes {
    min-height: 70vh;
    width: 100%;
    background: no-repeat center center;
    background-size: cover;
    margin-bottom: 60px;
    margin-top: 30px;
   }

  .post-body,
  .post-foot-note,
  .comment-section {
    max-width: 650px;
    margin: auto auto 30px;
  }

  .comment-section {
  }
}

.persona-widget {
  border-radius: 2px;
  background: #353535;
}

#single-social-connect {
  text-align: center;
  background: #252525;
  color: #FAFAFA;
  border-radius: 5px;
  padding: 15px;

  h3 {
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: bold;
  }

  #social-media-list {
    list-style: none;
    margin: 0;

    li {
      display: inline-block;
      padding: 10px;

      a {
        font-size: 2em;
        color: #FAFAFA;
      }
    }
  }
}

#tags-widget {
  #tags-list {
    list-style: none;
    margin: 0;

    li {
      display: inline-block;
      margin-bottom: 5px;

      a {
	border-radius: 25px;
	color: #FAFAFA;
	background: #252525;
	padding: 5px 10px;
	font-size: 0.7em;
      }
    }
  }
}

.disqus-comment-count {
  border-radius: 25px;
  color: #FAFAFA;
  background: #252525;
  padding: 5px 10px;
  font-size: 0.7em;
  width: -moz-fit-content; 
  width: fit-content;
  margin-top: 10px; 
}
