@import url(asset-path('quill/dist/quill.snow.css'));

body {
  background-color: #FAFAFA;
}

.button,
thead {
  background-color: #3A6199!important;
  color: #FAFAFA!important;
}

#navigation-bar {
  background-color: #FAFAFA;
	border-bottom: solid 2px #DADADA;
	box-shadow: 0px 1px 4px 1px #50252525;
  z-index: 999999;
}

#nav-ico-block a {
  color: #252525;
}

#nav-ico-block a,
#nav-ico-block a h1 {
  width: -moz-fit-content;
  width: fit-content;
}

#dashboard {
  padding-top: 75px;
  padding-bottom: 75px;

	h4 {
	  text-transform: uppercase;
		font-size: 18px;
		font-weight: bold;
	}
}

.dashboard-wrap {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
	font-family: 'Montserrat', sans-serif;

	h1,h2,h3,h4,h5, p, span {
	  font-family: inherit;
	}

	.dashboard-drawer-menu {
	  width: 200px;
		content: "";
		position: absolute;
		background: #F6F6F6;
		top: 0;
		left: 0;
		padding-top: 75px;
		height: 100%;

		.menu-text {
		  font-weight: normal;
		}

		.nested {
		  a {
		    font-size: 12px;
				padding-left: 3rem;
      }
		}
	}

	.dashboard-drawer-menu.collapse {
	  width: 75px;
	  text-align: center;

    #global-menu > li > a {
		  padding: 1rem 0;
		}

		.menu-icon {
		  width: 100%;
		}

		.menu-text {
		  font-size: 8px;
			padding: 0px;
			display: inline-block;
		}

		.nested {
		  display: none;
		}
	}

	.dashboard-container {
	  margin-left: 200px;
		width: 100%;
		padding: 2rem;
	}

	.dashboard-container.collapse {
	  margin-left: 50px;
	}
}

#global-menu {
  list-style: none;

	> li > a {
	  padding: 1rem 2rem;
	}

	a:hover {
	  background-color: #F0F0F0;
	}

	.nested {
	  margin: 0px;
	}
}

#editor {
  input {
    width: 100%;
    padding: 10px;
    background: #FAFAFA;
    color: #252525;
    border: 1px solid #CCC;
  }

  #meta-permalink {
    color: #DADADA;
  }
}

#content-editor-container {
  background: #FAFAFA;
  margin: 20px auto;

  #content-editor {
    height: 50vh;
    min-height: 400px;
  }
}

.editor-widget {
   margin-top: 20px;
  .tags-widget {
  }

}


#post-list {
  list-style: none;
  margin: 0;

  .post-list-header {
    th {
      padding: 5px 10px;
    }
  }

  .post-item {
    td {
      padding: 5px 10px;
    }

    .post-title {
      font-size: 11px;
      font-weight: bold;
    }

    p {
      font-size: 10px;
    }
  }

  .post-list-header {
    background: #3A6199;
    color: #FAFAFAFA;

    .post-title {
      text-transform: uppercase;
      font-size: 13px;
      font-weight: bold;
      margin: 0;
    }
  }
}

#post-editor {
  max-width: 1000px;

  input[type=text],
  #content-editor,
  .ql-toolbar {
    background: #FAFAFA;
  }

  input[type=text] {
    width: 100%;
    margin-bottom: 10px;
    color: #252525;
    padding: 10px;
    border: 1px solid #CCC;
  }

  .button-group {
    margin: 0;
  }

  .editor-widget {
    padding: 0;
    margin: 0 0 20px;
  }

  .editor-widget-header {
    padding: 7px 20px;
  }

  .editor-widget-body {
    padding: 15px 20px;
  }

  .editor-widget-header {
    border-bottom: 1px solid #CCC;
  }

  .editor-widget-title {
    font-size: 1em;
    margin: 0;
  }

  #post-meta-info {
    ul {
      list-style: none;
      margin: 0 0 10px;

      li p {
	font-size: 0.8em;
	margin-bottom: 0;
      }
    }

    .button-group {
      .button {
        margin: 0;
      }
    }
  }
}

#thumbnail-widget {
  input[type=file] {
    font-size: 0.6em;
    margin-bottom: 10px;
  }

  .button {
    margin-bottom: 10px;
  }

}

#media-explorer-empty {
  text-align: center;

  h3 {
    text-transform: uppercase;
    font-size: 1.2em;
  }
}

h1.page-heading {
  font-size: 19px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 25px;
}

.dashboard-block-wrap {
  border-radius: 5px;
	border: solid 1px #D5D5D5;
	padding: 15px;
	margin-bottom: 15px;
}

.metric {
  margin-top: 15px;
  margin-bottom: 25px;
}

.metric-grid {
 list-style: none;
 margin-left: -0.75rem;
 margin-right: -0.75rem;
}

.metric-item-wrap {
	padding: 10px;
	float: left;
	width: 33.3%;
}

.metric-item {
	background-color: #F0F0F0;
	border: 1px solid 1px #FAFAFA;
	border-radius: 5px;
	padding: 10px;

	h5, .metric-count {
		font-size: 15px;
		text-align: center;
	}
}

.user-badge {
	display: inline-block;

  h3 {
		padding: 0px;
	  font-weight: bold;
		font-size: 15px;
	}
}
