@import "font-awesome-sprockets";
@import "font-awesome";
@import "foundation-sites/scss/foundation.scss";

@include foundation-global-styles;
@include foundation-typography;
@include foundation-flex-grid;
@include foundation-flex-classes;
@include foundation-menu;
@include foundation-button;
@include foundation-button-group;
@include foundation-callout;
@include foundation-table;

body {
	font-family: 'Merriweather', serif;
	background: #FAFAFA;
}

h1,h2,h3,h4,h5,p,span,small {
	font-family: 'Merriweather', serif;
}

#navigation-bar {
  position: fixed;
  width: 100%;
  background: #FAFAFADD;
	box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
}

#nav-ico-block {
  a {
    text-decoration: none;
    color: #151515;
  }
}

#nav-ico-block > * {
  vertical-align: middle;
}

#site-ico {
  display: inline-BLOCK;
  font-family: 'Rubik', sans-serif;

	.ico-text {
		margin: 0px 6px 0px 6px;
		font-family: inherit;
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
	}

  .ico-f1 {
		font-family: inherit;
    font-weight: 500;
  }
}

#toggle-menu {
  cursor: pointer;
}

#things-i-do {
  font-family: inherit;
}

.menu li a {
  text-decoration: none;
  color: #151515;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.5s
}

.menu li a:hover {
  color: #3A6199;
  transition: 0.5s
}

#auth-box {
  border: 1px solid #858585;
  border-radius: 5px;
  margin: 20vh auto auto;
  max-width: 400px;
  width: 100%;
  padding: 40px;

  .title {
    text-transform: uppercase;
    border-bottom: 2px solid #252525;
    font-size: 1.5em;
    font-weight: bold;
  }

  .field {
    margin-bottom: 10px;
  }

  form {
    input[type=email],
    input[type=password] {
      width: 100%;
      background: #FAFAFA;
      color: #353535;
      border: 1px solid #858585;
      border-radius: 2px;
    }
  }
}

.hamburger-box {
  position: relative;
	display: inline-block;
	width: 24px;
	height: 24px;
	margin: 12px;
}

.hamburger,
.hamburger:after,
.hamburger:before {
  position: absolute;
	width: 24px;
	height: 4px;
	border-radius: 4px;
	background-color: #252525;
}

.hamburger:after,
.hamburger:before {
  display: block;
	content: "";
}

.hamburger:after {
  top: 7px;
}

.hamburger:before {
  top: -7px;
}

.hamburger {
  top: 50%;
	margin-top: -2px;
}

.image-caption {
  font-size: 12px;
	color: #7D7D7D;
	font-style: italic;
}

.navbar-align {
  justify-content: flex-end;
}

@media  print, screen and  (max-width: 800px) {
  .navbar-align {
    justify-content: flex-start;
  }
}
